In [1]:
import pandas as pd
import numpy as np
from rake_nltk import Rake
import nltk
from nltk.corpus import stopwords
import string
import collections

In [2]:
df = pd.read_csv("Dataset.csv")

In [3]:
df.head()

,Title,Desc_of_movies,IMDB_ID,Directors,Actors,Genres,Languages
0,10 Cloverfield Lane,"After breaking up with her fiancé, a woman ha...",1179933,Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...","Action, Drama, Horror, Mystery, Sci-Fi, Thriller",English
1,10 Days in Sun City,After his girlfriend wins the Miss Nigeria pag...,10499474,Adze Ugah,"Gbenro Ajibade, Adesua Etomi-Wellington, Ayo M...","Adventure, Comedy, Romance",English
2,10 jours en or,When a carefree bachelor is unexpectedly left ...,1729630,Nicolas Brossette,"Franck Dubosc, Claude Rich, Marie Kremer, Math...","Comedy, Drama",French
3,100 Days Of Solitude (100 días de soledad),Spanish photographer José Díaz spends 100 days...,8156742,"José Díaz, Gerardo Olivares",José Díaz,"Documentary, Drama",Spanish
4,100 Metros,A man who is diagnosed with multiple sclerosis...,5089786,Marcel Barrena,"Dani Rovira, Karra Elejalde, Alexandra Jiménez...","Biography, Comedy, Drama",Spanish

In [4]:
df = df.drop(['IMDB_ID'],axis=1)

In [5]:
df.head()

,Title,Desc_of_movies,Directors,Actors,Genres,Languages
0,10 Cloverfield Lane,"After breaking up with her fiancé, a woman ha...",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...","Action, Drama, Horror, Mystery, Sci-Fi, Thriller",English
1,10 Days in Sun City,After his girlfriend wins the Miss Nigeria pag...,Adze Ugah,"Gbenro Ajibade, Adesua Etomi-Wellington, Ayo M...","Adventure, Comedy, Romance",English
2,10 jours en or,When a carefree bachelor is unexpectedly left ...,Nicolas Brossette,"Franck Dubosc, Claude Rich, Marie Kremer, Math...","Comedy, Drama",French
3,100 Days Of Solitude (100 días de soledad),Spanish photographer José Díaz spends 100 days...,"José Díaz, Gerardo Olivares",José Díaz,"Documentary, Drama",Spanish
4,100 Metros,A man who is diagnosed with multiple sclerosis...,Marcel Barrena,"Dani Rovira, Karra Elejalde, Alexandra Jiménez...","Biography, Comedy, Drama",Spanish

In [6]:
list_of_desc_movies = list(df.Desc_of_movies)
list_of_desc_movies[0]

" After breaking up with her fiancé, a woman has an accident and wakes up in a bunker with a man who convinces her there's been an apocalyptic event."

In [7]:
r = Rake()
r.extract_keywords_from_text(list_of_desc_movies[0])
r.get_ranked_phrases()

['apocalyptic event',
 'woman',
 'wakes',
 'man',
 'fiancé',
 'convinces',
 'bunker',
 'breaking',
 'accident']

In [8]:
list_of_desc_movies[0].translate(str.maketrans('', '', string.punctuation))

' After breaking up with her fiancé a woman has an accident and wakes up in a bunker with a man who convinces her theres been an apocalyptic event'

In [9]:
filtered_desc = [word for word in [word.lower() for word in list_of_desc_movies[0].split()] if word not in stopwords.words('english')]
set(filtered_desc)

{'accident',
 'apocalyptic',
 'breaking',
 'bunker',
 'convinces',
 'event.',
 'fiancé,',
 'man',
 "there's",
 'wakes',
 'woman'}

In [10]:
description = []

for mymovie in df['Desc_of_movies']:
    
    mymovie = mymovie.translate(str.maketrans('', '', string.punctuation))
    
    filtered_desc = []
    
    filtered_desc = [word for word in [word.lower() for word in mymovie.split()] if word not in stopwords.words('english')]
    
    filtered_desc = set(filtered_desc)
    
    description.append(", ".join(filtered_desc))

df['Desc_of_movies'] = description
df.head()

,Title,Desc_of_movies,Directors,Actors,Genres,Languages
0,10 Cloverfield Lane,"theres, convinces, woman, apocalyptic, acciden...",Dan Trachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...","Action, Drama, Horror, Mystery, Sci-Fi, Thriller",English
1,10 Days in Sun City,"unexpected, south, nigeria, faces, joins, page...",Adze Ugah,"Gbenro Ajibade, Adesua Etomi-Wellington, Ayo M...","Adventure, Comedy, Romance",English
2,10 jours en or,"boy, trip, lives, left, embark, young, carefre...",Nicolas Brossette,"Franck Dubosc, Claude Rich, Marie Kremer, Math...","Comedy, Drama",French
3,100 Days Of Solitude (100 días de soledad),"alone, connecting, photographer, spanish, beau...","José Díaz, Gerardo Olivares",José Díaz,"Documentary, Drama",Spanish
4,100 Metros,"sclerosis, multiple, fatherinlaws, cranky, tri...",Marcel Barrena,"Dani Rovira, Karra Elejalde, Alexandra Jiménez...","Biography, Comedy, Drama",Spanish

In [11]:
directors = []

for mydir in df['Directors']:
    
    edited_dir = [word.replace(" ","").lower() for word in mydir.split(',')]
    
    directors.append(", ".join(edited_dir))
    
df['Directors'] = directors
df.head()

,Title,Desc_of_movies,Directors,Actors,Genres,Languages
0,10 Cloverfield Lane,"theres, convinces, woman, apocalyptic, acciden...",dantrachtenberg,"John Goodman, Mary Elizabeth Winstead, John Ga...","Action, Drama, Horror, Mystery, Sci-Fi, Thriller",English
1,10 Days in Sun City,"unexpected, south, nigeria, faces, joins, page...",adzeugah,"Gbenro Ajibade, Adesua Etomi-Wellington, Ayo M...","Adventure, Comedy, Romance",English
2,10 jours en or,"boy, trip, lives, left, embark, young, carefre...",nicolasbrossette,"Franck Dubosc, Claude Rich, Marie Kremer, Math...","Comedy, Drama",French
3,100 Days Of Solitude (100 días de soledad),"alone, connecting, photographer, spanish, beau...","josédíaz, gerardoolivares",José Díaz,"Documentary, Drama",Spanish
4,100 Metros,"sclerosis, multiple, fatherinlaws, cranky, tri...",marcelbarrena,"Dani Rovira, Karra Elejalde, Alexandra Jiménez...","Biography, Comedy, Drama",Spanish

In [12]:
actors = []

for myact in df['Actors']:
    
    edited_act = [word.replace(" ","").lower() for word in myact.split(',')]
    
    actors.append(", ".join(edited_act))
    
df['Actors'] = actors
df.head()

,Title,Desc_of_movies,Directors,Actors,Genres,Languages
0,10 Cloverfield Lane,"theres, convinces, woman, apocalyptic, acciden...",dantrachtenberg,"johngoodman, maryelizabethwinstead, johngallag...","Action, Drama, Horror, Mystery, Sci-Fi, Thriller",English
1,10 Days in Sun City,"unexpected, south, nigeria, faces, joins, page...",adzeugah,"gbenroajibade, adesuaetomi-wellington, ayomaku...","Adventure, Comedy, Romance",English
2,10 jours en or,"boy, trip, lives, left, embark, young, carefre...",nicolasbrossette,"franckdubosc, clauderich, mariekremer, mathist...","Comedy, Drama",French
3,100 Days Of Solitude (100 días de soledad),"alone, connecting, photographer, spanish, beau...","josédíaz, gerardoolivares",josédíaz,"Documentary, Drama",Spanish
4,100 Metros,"sclerosis, multiple, fatherinlaws, cranky, tri...",marcelbarrena,"danirovira, karraelejalde, alexandrajiménez, d...","Biography, Comedy, Drama",Spanish

In [13]:
genres = [genre.lower() for genre in df['Genres']]
languages = [language.lower() for language in df['Languages']]

df['Genres'] = genres
df['Languages'] = languages
df.head()

,Title,Desc_of_movies,Directors,Actors,Genres,Languages
0,10 Cloverfield Lane,"theres, convinces, woman, apocalyptic, acciden...",dantrachtenberg,"johngoodman, maryelizabethwinstead, johngallag...","action, drama, horror, mystery, sci-fi, thriller",english
1,10 Days in Sun City,"unexpected, south, nigeria, faces, joins, page...",adzeugah,"gbenroajibade, adesuaetomi-wellington, ayomaku...","adventure, comedy, romance",english
2,10 jours en or,"boy, trip, lives, left, embark, young, carefre...",nicolasbrossette,"franckdubosc, clauderich, mariekremer, mathist...","comedy, drama",french
3,100 Days Of Solitude (100 días de soledad),"alone, connecting, photographer, spanish, beau...","josédíaz, gerardoolivares",josédíaz,"documentary, drama",spanish
4,100 Metros,"sclerosis, multiple, fatherinlaws, cranky, tri...",marcelbarrena,"danirovira, karraelejalde, alexandrajiménez, d...","biography, comedy, drama",spanish

In [14]:
sum(df['Directors'] == 'nan')

1019

In [15]:
sum(df['Actors'] == 'nan')

727

In [16]:
sum(df['Genres'] == 'nan')

667

In [17]:
sum(df['Languages'] == 'nan')

755

In [18]:
df.drop(df[df['Directors'] == 'nan'].index,inplace=True)
df.drop(df[df['Actors'] == 'nan'].index,inplace=True)
df.drop(df[df['Genres'] == 'nan'].index,inplace=True)
df.drop(df[df['Languages'] == 'nan'].index,inplace=True)
df.shape

(3466, 6)

In [19]:
bag_of_word = df['Desc_of_movies'] + ", " + df['Directors'] + ", " + df['Actors'] + ", " + df['Genres']
bag_of_words = [word.replace(",","") for word in bag_of_word]

In [20]:
data = pd.DataFrame({'Title':df['Title'],'Bag_of_words':bag_of_words})

In [21]:
data.shape

(3466, 2)

In [25]:
data.head(10)

,Title,Bag_of_words
0,10 Cloverfield Lane,theres convinces woman apocalyptic accident bu...
1,10 Days in Sun City,unexpected south nigeria faces joins pageant w...
2,10 jours en or,boy trip lives left embark young carefree road...
3,100 Days Of Solitude (100 días de soledad),alone connecting photographer spanish beauty s...
4,100 Metros,sclerosis multiple fatherinlaws cranky triathl...
5,الف مبروك (1000 Mabrouk),accountant arrogant greedy experiences keep da...
6,1000 Rupee Note,bribe receiving doesnt political woman treat s...
7,The 101-Year-Old Man Who Skipped Out on the Bi...,formula younger octogenarian soda internationa...
8,12 Gifts of Christmas,starving ability buy sold personal finds meets...
9,12 Monkeys,2035 time volunteers back virus population dea...

In [23]:
data.to_csv('Netflix_data.csv',index=False,encoding='utf-8-sig')